* {
    font-family: auto;
    scroll-behavior: smooth;
}

.fade-in {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header-title {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 5px !important;
}

.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

h5,
.h5 {
    font-size: 1.25rem;
}

.justify-content-between {
    justify-content: space-between;
}

.chevron-down {
    background: #5f9ea0;
    font-size: 75px;
    border-radius: 50%;
    padding: 15px;
    margin-top: 15px;
}

p {
    font-size: 18px;
}

.slick-slide {
    width: 380px;
    padding: 30px;
    height: 500px !important;
    margin: 0 20px;
    border: 1px solid #000;
    border-radius: 25px;
    position: relative;
    color: white;
    background: url(../images/products-bg.png) no-repeat top center;

}

.menu-holder {
    align-items: center;
}

header h2 {
    padding: 5px;
}

.item {
    border: 1px solid #fff;
    border-radius: 50px;
    height: 500px;
    color: #fff;
    padding: 0 40px;
}

.active {
    border: 5px solid #5f9ea0;
}

.fact {
    width: 80%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 25px;
    margin: 0 20px;
    height: 235px;
    margin-bottom: 40px;
}

.fact p {
    margin: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition:  opacity 1s linear;
}

.fact p.show {
    visibility: visible;
    opacity: 1;
}
.animate-fact {
    transition: width 0.3s;
}

.fact img,
.categories img {
    height: 210px;
    width: 205px;
    border-radius: 25px;
}

.slick-slide .d-flex {
    position: relative;
    height: 170px;
}

.slick-slide img {
    transition: transform .2s;
}

.slick-slide img:hover {
    transform: scale(1.4);
}

.d-none {
    display: none;
}

.w-100 {
    width: 100% !important;
    display: table;
}

.w-30 {
    width: 20% !important;
}

.image-right {
    text-align: right;
}

.slick-slide img {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.animate-fact.appear3 {
    float: right;
}

.appear2 {
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}

.appear2.inview2 {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}


.ocean {
    position: relative;
    background-image: linear-gradient(0deg, #182848, #2980b9);
}

.bubble-overall {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    background-color: white;
    opacity: 0.2;
    animation: bubble 15s ease-in-out infinite,
        sideWays 4s ease-in-out infinite alternate;
}

.bubble {
    top: 1000px;
}

.bubble0 {
    top: 0;
}

.bubble1 {
    top: 2000px;
}

.bubble2 {
    top: 3000px;
}

.bubble3 {
    top: 4000px;
}

.bubble4 {
    top: 5000px;
}

.bubble5 {
    top: 6000px;
}

.bubble6 {
    top: 7500px;
}

.categories .mt-3 {
    padding: 0 20px;
}

.wave-container{
    height: 500px;
    position: relative;
    background-color: #2980b9;
    z-index: 9;
}

.wave{
    opacity: 0.6;
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 6000px;
    height: 6000px;
    background: #fff;
    margin-left: -3000px;
    transform-origin: 50% 48%;
    border-radius: 46%;
    animation: wave 12s infinite linear;
    pointer-events: none;
}

.wave2{
    animation: wave 28s infinite linear;
    opacity: 0.3;
}

.wave3{
    animation: wave 20s infinite linear;
    opacity: 1;
}

@keyframes hieu_ung_wave{
     from{
         transform: translateY(2rem);
         opacity: 0;
     }
     to{
         transform: translateY(0);
         opacity: 1;
     }
 }
@keyframes wave{
     from{
         transform: rotate(0deg);
     }
     to{
         transform: rotate(360deg);
     }
 }

@keyframes bubble {
    0% {
        transform: translateY(0%);
        opacity: 0.06;
    }

    100% {
        transform: translateY(-120vh);
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 200px;
    }
}

.bubble--1 {
    left: 10%;
    animation-delay: 0.5s;
    animation-duration: 16s;
    opacity: 0.2;
}

.bubble--2 {
    width: 15px;
    height: 15px;
    left: 40%;
    animation-delay: 1s;
    animation-duration: 10s;
    opacity: 0.1;
}

.bubble--3 {
    width: 10px;
    height: 10px;
    left: 30%;
    animation-delay: 5s;
    animation-duration: 20s;
    opacity: 0.3;
}

.bubble--4 {
    width: 25px;
    height: 25px;
    left: 40%;
    animation-delay: 8s;
    animation-duration: 17s;
    opacity: 0.2;
}

.bubble--5 {
    width: 30px;
    height: 30px;
    left: 60%;
    animation-delay: 10s;
    animation-duration: 15s;
    opacity: 0.1;
}

.bubble--6 {
    width: 10px;
    height: 10px;
    left: 80%;
    animation-delay: 3s;
    animation-duration: 30s;
    opacity: 0.4;
}

.bubble--7 {
    width: 15px;
    height: 15px;
    left: 90%;
    animation-delay: -7s;
    animation-duration: 25s;
    opacity: 0.3;
}

.bubble--9 {
    width: 20px;
    height: 20px;
    left: 50%;
    bottom: 30px;
    animation-delay: -5s;
    animation-duration: 19s;
    opacity: 0.2;
}

.bubble--10 {
    width: 40px;
    height: 40px;
    left: 30%;
    bottom: 30px;
    animation-delay: -21s;
    animation-duration: 16s;
    opacity: 0.3;
}

.bubble--11 {
    width: 30px;
    height: 30px;
    left: 60%;
    bottom: 30px;
    animation-delay: -13.75s;
    animation-duration: 20s;
    opacity: 0.3;
}

.bubble--11 {
    width: 25px;
    height: 25px;
    left: 90%;
    bottom: 30px;
    animation-delay: -10.5s;
    animation-duration: 19s;
    opacity: 0.3;
}

.appear2.inview2:nth-child(1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.appear2.inview2:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.appear2.inview2:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.appear2.inview2:nth-child(4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.appear2.inview2:nth-child(5) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}


.appear3 {
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
}

.appear3.inview3 {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.appear3.inview3:nth-child(1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.appear3.inview3:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.appear3.inview3:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.appear3.inview3:nth-child(4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.appear3.inview3:nth-child(5) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    border-right: 2px solid rgba(255, 255, 255, .75);
    margin: 35px auto;
    font-size: 40px;
    height: 35px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

.bg-sea {
    background-image: linear-gradient(0deg, #182848, #2389da);
    background-size: cover;
}

.slick-prev:before, .slick-next:before {
    color: #2389da !important
}
.slick-arrow {
    zoom: 3;
}

.canvas-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.typewriter {
    margin: 0 auto;
    width: 450px;
}

.typewriter h1 {
    overflow: hidden;
    color: #fff;
    border-right: .15em solid orange;
    font-size: 40px;
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}


/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: blue;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

@media only screen and (max-width: 600px) {
    .responsive-none {
        display: none;
    }

    .slick-slide img {
        width: 90px;
        height: 90px;
    }

    .fact {
        width: 90%;
        padding: 0;
    }

    .fact img {
        height: 80px;
        width: 80px;
        margin-top: 70px;
    }

}

.categories {
    width: 100%;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 25px;
    margin-bottom: 40px;
}

.categories .title {
    height: 40px;
    border-bottom: 1px solid #fff;
    text-align: center;
}

.categories .title h2 {
    line-height: 0;
    padding-top: 5px;
}

.categories .subtitle {
    /* transform-origin: 50% 38%;
    transform: rotate(270deg);
    position: relative; */
    width: 40px;
    border-left: 1px solid #fff;
    transform: rotate(180deg);
    height: 100%;
}

.categories .subtitle h5 {
    transform-origin: 0% 120%;
    /*  transform: rotate(270deg);
    position: relative; */
    width: 150px;
    transform: rotate(90deg);
}
.categories .d-flex {
    height: 300px;
}
.categories .subtitle h5 {
    font-size: 25px;
    text-wrap: nowrap;
}

.categories .subtitle p {
    font-size: 25px;
    margin: 0;
}

li {
    font-size: 18px;
}
.mt-3 {
    margin-top: 15px;
}
