* {
    font-family: auto;
    scroll-behavior: smooth;
}

.fade-in {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header-title {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 5px !important;
}

.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

h5,
.h5 {
    font-size: 1.25rem;
}

.justify-content-between {
    justify-content: space-between;
}

.chevron-down {
    background: #5f9ea0;
    font-size: 75px;
    border-radius: 50%;
    padding: 15px;
    margin-top: 15px;
}

p {
    font-size: 18px;
}

.slick-slide {
    width: 380px;
    padding: 30px;
    height: 500px !important;
    margin: 0 20px;
    border: 1px solid #c8c0c0;
    border-radius: 25px;
    position: relative;
    color: white;
    background: url(../images/products-bg.png) no-repeat top center;

}

.fact {
    width: 70%;
    padding: 10px;
    border: 1px solid #696969;
    border-radius: 25px;
    margin: 0 20px;
    height: 235px;
    margin-bottom: 40px;
}

.fact p {
    margin: 0;
}

.animate-fact {
    transition: width 0.3s;
}

.fact img {
    height: 210px;
    width: 205px;
    border-radius: 25px;
}

.slick-slide .d-flex {
    position: relative;
    height: 170px;
}

.slick-slide img {
    transition: transform .2s;
}

.slick-slide img:hover {
    transform: scale(1.4);
}

.d-none {
    display: none;
}

.w-100 {
    width: 100% !important;
    display: table;
}

.w-30 {
    width: 20% !important;
}

.image-right {
    width: 100%;
    text-align: right;
}

.slick-slide img {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.animate-fact.appear3 {
    float: right;
}

.appear2 {
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}

.appear2.inview2 {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

#products {
    background: linear-gradient(30deg,#000, #0074d9, #36c5ffba  )
}
.appear2.inview2:nth-child(1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.appear2.inview2:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.appear2.inview2:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.appear2.inview2:nth-child(4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.appear2.inview2:nth-child(5) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}


.appear3 {
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
}

.appear3.inview3 {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.appear3.inview3:nth-child(1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.appear3.inview3:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.appear3.inview3:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.appear3.inview3:nth-child(4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.appear3.inview3:nth-child(5) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    border-right: 2px solid rgba(255, 255, 255, .75);
    margin: 35px auto;
    font-size: 40px;
    height: 35px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

.bg-sea {
    background: url(../images/bg-sea.jpg) no-repeat top center;
    background-size: cover;
}

.slick-arrow {
    zoom: 3;
}

.canvas-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.typewriter {
    margin: 0 auto;
    width: 450px;
}
.typewriter h1 {
    overflow: hidden;
    color: #fff;
    border-right: .15em solid orange;
    font-size: 40px;
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}


/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: blue;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

@media only screen and (max-width: 600px) {
    .responsive-none {
        display: none;
    }

    .slick-slide img {
        width: 90px;
        height: 90px;
    }

    .fact {
        width: 90%;
        padding: 0;
    }

    .fact img {
        height: 80px;
        width: 80px;
        margin-top: 70px;
    }

}
